.scrollWatcher {
    transition: width linear;
}

.enterText {
    -webkit-animation: spinIn 0.25s ease-out forwards;
    -webkit-transform: scale(0);
    animation: spinIn 0.25s ease-out forwards;
    transform: scale(0);
}

.bounceText {
    -webkit-animation: quickBounce 8s ease-out 1s infinite;
    animation: quickBounce 8s ease-out 1s infinite;
}

@keyframes quickBounce {
    0% {
        transform: translateY(0px)
    }
    30% {
        transform: translateY(0px);
    }
    31.5% {
        transform: translateY(-15px);  
    }
    33% {
        transform: translateY(0px);
    }
    55% {
        transform: translateY(0px);
    }
    56.5% {
        transform: translateY(-15px);  
    }
    58%, 100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes spinIn {
    0% {
        -webkit-transform: scale(0) rotate(0deg);
    }
    100% {
        -webkit-transform: scale(1) rotate(360deg);
    }
}

@keyframes spinIn {
    0% {
        transform: scale(0) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

.slowBounce {
    animation: slowBounce 3.5s linear infinite;
}

@keyframes slowBounce {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.dotRise {
    transition: top 0.1s linear, background 0.25s linear;
}

.arrowRise {
    transform: none;
    transition: transform 0.1s linear;
}

.arrowRise:hover {
    transform: translateY(-3px);
    filter: drop-shadow(0px 3px #000000);
    cursor: pointer;
}

.arrowRise:active {
    transform: none;
}

.rotate3d {
    animation: rotate3d linear 8s alternate infinite, bounce3d linear 1.5s alternate infinite;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg) translate(0, 0);
}

@keyframes rotate3d {
    0% {
        transform: perspective(1000px) rotate3d(0, 1, 0, -15deg);
    }
    33% {
        transform: perspective(1000px) rotate3d(0, 1, 0, -15deg);
    }
    66% {
        transform: perspective(1000px) rotate3d(0, 1, 0, 15deg);
    }
    100% {
        transform: perspective(1000px) rotate3d(0, 1, 0, 15deg);
    }
}

@keyframes bounce3d {
    from {
        top: 5px;
    }
    to {
        top: -5px;
    }
}