.enterText {
    -webkit-animation: spinIn 0.25s ease-out forwards;
    -webkit-transform: scale(0);
    animation: spinIn 0.25s ease-out forwards;
    transform: scale(0);
}

.bounceText {
    -webkit-animation: quickBounce 8s ease-out 1s infinite;
    animation: quickBounce 8s ease-out 1s infinite;
}

@keyframes quickBounce {
    0% {
        transform: translateY(0px)
    }
    30% {
        transform: translateY(0px);
    }
    31.5% {
        transform: translateY(-15px);  
    }
    33% {
        transform: translateY(0px);
    }
    55% {
        transform: translateY(0px);
    }
    56.5% {
        transform: translateY(-15px);  
    }
    58%, 100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes spinIn {
    0% {
        -webkit-transform: scale(0) rotate(0deg);
    }
    100% {
        -webkit-transform: scale(1) rotate(360deg);
    }
}

@keyframes spinIn {
    0% {
        transform: scale(0) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

.slowBounce {
    animation: slowBounce 3.5s linear infinite;
}

@keyframes slowBounce {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}