@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'jbm';
  src: url(../assets/fonts/JetBrainsMono-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'jbmi';
  src: url(../assets/fonts/JetBrainsMono-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url(../assets/fonts/Roboto-Medium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoi';
  src: url(../assets/fonts/Roboto-MediumItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}
