@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'jbm';
  src: url(../assets/fonts/JetBrainsMono-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'jbmi';
  src: url(../assets/fonts/JetBrainsMono-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url(../assets/fonts/Roboto-Medium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoi';
  src: url(../assets/fonts/Roboto-MediumItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-bg: #232121;
  --color-bg-dark: #080808;
  --color-bg-gradient: linear-gradient(0deg,#080808 0%, #232121 50%, #080808 100%);
  --color-bg-transparent: #232121aa;
  --color-pink: #cd1787;
  --color-purple: #430a71;
  --color-white: #ebebeb;
  --color-dark-white: #cecece;
  --color-light-grey-text: #aaaaaa;
  --color-light-grey: #292727;
  --color-bg-contrast: #2d2a2a;
}

body {
  margin: 0;
}

.bgBlur {
  backdrop-filter: blur(15px);
}